.container {
  margin-bottom: 64px;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
}

.circle {
  width: 8px;
  height: 8px;
  background-color: var(--white);
  border-radius: 50%;
}

.loading,
.error,
.empty {
  background-color: var(--white);
  border-radius: 8px;
  padding: 32px;
  text-align: center;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.loading {
  color: var(--gray-20);
}

.error {
  color: #dc3545;
}

.empty {
  color: var(--gray-20);
}

@media (max-width: 768px) {
  .container {
    margin-top: 0;
  }

  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobileAvatar {
    display: flex;
    align-items: center;
    justify-content: start;
  }
}
